/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* APP CSS */
:root {
  --orange: #F66400;
  --red: #EE3D5B;
  --violet: #BF4389;
  --purple: #7B5295;
  --blue: #3F537F;
  --charcoal: #2F4858;
  --grey: #79736C;
  --light-grey: #cecece;
  --light-blue: rgba(157, 235, 255, 0.667);
  --warning: #D67B13;
  --danger: #EA4235;
  --success: #559449;
  --white : #FFFFFF;
}

html { font-size: 11px; }

@media (max-width: 900px) {
  html { font-size: 13px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

h1 { font-size: 3.6rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.8rem; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
}

.button--default {
  background-color: var(--white);
  font-size: 1.75rem;
  color: var(--charcoal);
  padding: 0.3rem 0.9rem 0.3rem 0.9rem;
  border-radius: 0.3rem;
  transition-duration: 0.25s;
  height: 2.25rem;
}

.button--default:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button--submit {
  background-color: var(--charcoal);
  color: var(--light-grey);   
  border: 0;
  font-size: 1.75rem;
  padding: 0.3rem 0.9rem 0.3rem 0.9rem;
  border-radius: 0.3rem;
  transition-duration: 0.25s;
  height: 3.2rem;
}

.button--submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.button--logout {
  background-color: var(--charcoal);
  color: var(--light-grey);   
  border: 0;
  font-size: 1.75rem;
  padding: 0.3rem 0.9rem 0.3rem 0.9rem;
  border-radius: 0.3rem;
  transition-duration: 0.25s;
  z-index: 100;
  top: 1%;
  right: 2%;
  position: fixed;
}

.button--logout:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button--warning {

}

/* Landing page */

.home {
  background-image: linear-gradient(to bottom right, var(--red), var(--violet));
  width: 100%;
  height: 100vh;
}

#home__login__button {
  position: fixed;
  top: 2%;
  right: 1.5%;
  text-transform: uppercase;
}

#home__login__button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.home__title {
  font-weight: 400;
  opacity: 90%;
  font-style: italic;
  font-size: 6rem;
  width: 100%;
  text-align: center;
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 15rem;
}

.home__title span {
  user-select: none;
  padding: 1rem;
}

/* LOGIN PAGE */

.login {
  background-image: linear-gradient(to bottom right, var(--red), var(--violet));
  height: 100vh;
}

.login--container {
  width: 40rem;
  margin-left: auto;
  margin-right: auto; 
  z-index: 100;
  position: relative;
}

.login--card {
  background-color: white;
  border-radius: 3px;
  top: 10vh;
  padding: 3rem;
  position: relative;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.login--card form div {
  margin-top: 1rem;
  position: static;
}

.login--card form .submit {
  float: right;
}

.login--card form {

}
.login--card form label {
  padding-right: 2rem;
  color: var(--charcoal);
}

.login--card form input[type='text'], .login--card form input[type='password'] {
  border: 1.5px solid var(--light-grey);
  background: transparent;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: left;
  border-radius: 3px;
  box-shadow: none;
  position: relative;
  top: -0.1rem;
  width: 99%;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.login--card .submit__input:hover {
  cursor: pointer;
}

.login--card .facebook {
  text-align: center;
}

/* Register */

.register-active-user__container {
  background-image: linear-gradient(to bottom right, var(--red), var(--violet));
  width: 100%;
  height: 100vh;
  padding-top: 15rem;
}

.register {
  border: 1px solid var(--light-grey);
  width: 40rem;
  background-color: white;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  display: block;
}

.register__display-name__label {
  width: 100%;
  display: inline-block;
  background-color: yellow;
}

.register__display-name__input {
  width: 70%;
  display: inline-block;
  background-color: red;
}

.register__date {
  display: inline-block;
  background-color: blue;
  margin-right: 100%;
}

.register__gender__select {
  background-color: lightgreen;
  margin-right: 100%;
}

.register__interest__label {
  margin-bottom: 1rem;
}

.register__interest__select {
  margin-right: 100%;
  margin-bottom: 1rem;
}

.register__bio__label {
  margin-right: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}

.register__bio__input {
  height: 7.5rem;
  margin-bottom: 1rem;
}

.register__button {
  margin-right: 100%;
}

/* DASHBOARD */

.dashboard__left-pan {
  border-right: 1px solid var(--light-grey);
  box-shadow: 0px 0px 5px 0 var(--light-grey);
  width: 25rem;
  height: 100vh;
  overflow:scroll;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
}

.dashboard__right-pan {
  margin-left: 25.2rem;
  height: 100vh;
  position: relative;
  background-color: #F5F7FA;
}

.dashboard__left-pan__top {
  background-image: linear-gradient(to bottom right, var(--red), var(--violet));
  border-bottom: 1px solid var(--light-grey);
  box-shadow: 0px 2px 3px 0 var(--light-grey);
  padding: 1rem 1rem 1rem 1rem;
}

.dashboard__left-pan__top__link {
  display: block;
  position: relative;
  width: 30%;
}

.dashboard__left-pan__top__link:link, .dashboard__left-pan__top__link:visited  {
  color: white;
  text-decoration: none;
}

.dashboard__left-pan__top__link:hover {
  text-decoration: underline 3px var(--orange);
}
.dashboard__left-pan__deck-link {


}

.dashboard__left-pan__profile-link {

}

/* MATCHES_LIST */

.matches-list {
  padding-left: 1rem;
  margin-top: 1rem;
}


.matches-list__match {
  margin-bottom: 6rem;
  clear: both;
  display: block ;
}

.matches-list__match:hover {
  background-color: white;
  z-index: 0;
  width: 24rem;
  height: 7rem;
  margin-bottom: 1.1rem;
  position: relative;
  margin-left: -1rem;
  padding-left: 1rem;
}

.matches-list__img {
  float: left;  
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  transition: 0.125s;
}

.matches-list__img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.matches-list__new-msg {
  background-color: limegreen;
  height: 1.5rem;
  width: 1.5rem;
  left: 4.75rem;
  border: 5px solid white;
  border-radius: 50%;
  position: relative;
  z-index: 1000;
}

a.matches-list__link {
  padding-left: 2rem;
  top: 2rem;
  position: relative;
  clear: both;
  text-decoration: none !important;
}
.matches-list a {
  text-decoration: none;
  color: var(--charcoal);
}
a:hover.matches-list__link{
  font-weight: 600;
  text-decoration: none !important;
}

a:visited.matches-list__link {
  text-decoration: none !important
}

/* Profile */

.user-profile {
  position: relative;
  top: 4.5vh;
}

.user-profile__article {
  transition: 0.1s;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--light-grey);
  width: 400px;
  height: 570px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  box-shadow: 2px 2px 11px -5px rgba(0,0,0,0.75);
  user-select: none;
  background-size: 100% 100%;
}


.user-profile__display-name {
  font-weight: 600;
  display: inline-block;
  color: white;
  position: relative;
  top: 410px;
  left: 10px;
}

.user-profile__age {
  font-weight: 400;
  display: inline-block;
  color: white;
  position: relative;
  top: 410px;
  left: 20px;
}

.user-profile__bio {
  font-weight: 400;
  display: inline-block;
  color: white;
  position: relative;
  top: 400px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 380px;
  height: 100px;
  border-radius: 3px;
  padding: 4px;
}

.user-profile__buttons {
  margin-left: auto; margin-right: auto;
  width: 400px;
  margin-top: 1rem;
}
.user-profile__like, .user-profile__pass {
  border: 5px var(--light-grey);
  float: left;
  padding: 10px;
  font-size: 3rem;
  border-radius: 50%;
  transition: 0.15s;
}

.user-profile__like { float: right; }

.user-profile__like:hover, .user-profile__pass:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* CARD */

.card {
  border: 3px solid rgb(0, 141, 192);
  border-radius: 2px;
  background-color: yellow;
}

.card.liked {
  color: red;
}

/* Chat */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-grey); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--charcoal); 
}

.chat__left {
  float: left;
  width: 75%;
  box-sizing: border-box;
  height: 100vh;
  border-right: 1px solid var(--light-grey);
}

.chat__left__bottom {
  box-sizing: border-box;
  position: absolute;
  width: 75%;
  padding-top: 1.5rem;
  top: 91.5vh;
  border-top: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  background-color: white;
}

.chat-box__input {
  margin-left: 1.5rem;
  padding: 1rem 0 0 1.5rem; 
  font-size: 1.5rem;
  width: 85%;
  border: none;
  border-style: none;
  resize: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}


.chat-box__submit {
  width: 7%;
  position: relative;
  top: -2.25rem;
}

.chat-box__messages {
  overflow: scroll;
  padding-top: 1.75vh;
  height: 89vh;
}

.message {
  word-break:break-all;
}

.message.sent {
  text-align: right;
  width: 99%;
  padding-right: 1%;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.message.sent__span {
  background-color: var(--light-grey);
  padding: 0.75rem 1rem 0.75rem 1rem;
  border: 1px solid var(--lightgrey);
  border-radius: 14px;
}

.message.received {
  padding-left: 1%;
  text-align: left;
  width: 99%;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  float: left;
}

.message.received__span {
  background-color: var(--light-blue);
  padding: 0.75rem 1rem 0.75rem 1rem;
  border: 1px solid var(--lightgrey);
  border-radius: 14px;
}

.chat__right {
  width: 25%;
  float: left;
  height: 100vh;
}

.chat-profile__img {
  width: 100%;
}

.chat-profile__display-name {
  display: inline;
  padding-left: 1.5rem;
  font-weight: 600;
}
.chat-profile__age {
  display: inline;
  margin-left: 1.25rem; 
}

.chat-profile__bio {
  display: inline;
  color: red;

}

/* Deck */

.deck__no-matches {
  margin: 15rem auto 0 auto;
}

.deck__no-matches p {
  text-align: center;
  font-weight: 600;
}
/* Loading */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, var(--red), var(--violet));
  opacity: 1.0; /* Maybe add transparency over the interface */
  text-align: center;
  padding-top: 40vh;
  z-index: 9999;
}

.loading__animation {
  width: 10rem;
  height: 10rem;
}

/* Misc */

.zIndex1 {
  z-index: 1; 
  position: relative;
  top: -582px;
}

.zIndex5000 {
  z-index: 5000;
  
}