/* RESET */

.card {
  border: 3px solid lightblue;
  border-radius: 2px;
  background-color: yellow;
}

.card.liked {
  color: red;
}

.message {
  background-color: aliceblue;
  width: 100%;
}

.message.sent {
  background-color: aquamarine;
  text-align: right;
}

.message.received {
  background-color: antiquewhite;
  float: right;
}